.box_centered {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 128px;
}


.info_aliment {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 48px;
    font-size : 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.eat_button {
background-color: #22DA9F;
color: white;
padding: 10px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size : 15px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.save_button {
    background-color: #22DA9F;
    width: 100px;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size : 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button.info:hover {
background-color: #1eb887;
}
button.bouton:hover {
background-color: #1eb887;
}

img.nourriture_svg {
    width: 32px;
    height: 32px;
}

button.bouton {
    margin-top: 48px;
    width: 200px;
    background-color: #22DA9F;
    margin-bottom: 48px;
}


.biboite {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.seccc {
    width: 100%;
    display: flex;
    justify-content: center;
}

p.texte {
    color: #024644;
}

.biboite {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form.fofo {

        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        margin-bottom: 48px;
    
}

label.lala {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.bubu {
    background-color: #22DA9F;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style du bouton de soumission au survol */
button.bubu:hover {
    background-color: #20c591;
}
button.bouton:hover {
    background-color: #20c591;
}
